:root {
    --url-diver1: url('./images/diver1.png');
    --url-diver2: url('./images/diver2.png');
    --url-diver3: url('./images/diver3.png');
    --url-shark: url('./images/shark.png'); 
    --url-turtle: url('./images/turtle.png');
    --url-faintSchool: url('./images/faintSchool.png');
    --url-goldFishSchool: url('./images/goldFishSchool.png');
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f9f9;
}

.aquarium {
    width: 90vw; 
    height: 80vh; 
    background-color: #2ff8f8;
    border: 10px solid #333;
    position: relative;
    overflow: hidden; 
}

#shark {
    left:100px;
    top:400px;
    position: absolute;
    animation-name: Shark;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Shark {
    0% { left: 100px; top:400px;}
    20%{ left: 300px; top:400px;}   
    40% { left: 500px; top:300px;}
    60% { left: 600px; top:50px;}      
    80% { left: 600px; top:100px;}
    100% { left: 500px; top:200px; transform:scaleX(-1);}
}

#turtle {
    left:700px;
    top:100px;
    position: absolute;
    animation-name: Turtle;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Turtle {
    0% { left: 700px; top:100px;}
    20%{ left: 700px; top:100px;}   
    40% { left: 800px; top:300px;}
    60% { left: 1000px; top:50px;}      
    80% { left: 1100px; top:500px;}
    100% { left: 500px; top:300px; transform:scaleX(-1);}
}

#goldFishSchool {
    width: 200px;
    height: 100px;
    bottom: 15%; 
    right: 0;
    position: absolute;
    background-image: var(--url-goldFishSchool);
    animation: swimGoldFishSchool 20s linear infinite alternate;
}
@keyframes swimGoldFishSchool {
      0% { left: 0px; top:200px;}
    20%{ left: 700px; top:300px;}   
    40% { left: 1000px; top:500px;}
    60% { left: 1200px; top:50px;}      
    80% { left: 1300px; top:500px;}
    100% { left: 100px; top:300px; transform:scaleX(-1);}
}

#diver1 {
    width: 120px;
    height: 60px;
    left: 50%;
    top: 50%;
    position: absolute;
    background-image: var(--url-diver1);
    transform: translateX(-50%); 
    animation-name: Diver1;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes Diver1 {
    0% { left: 00px; top:250px;}
    50%{ left: 700px; top:500px;}
    70% { left: 900px; top:50px;}
    100% { left: 500px; top:300px; transform:scaleX(-1);}
}
#diver2 {
    width: 120px;
    height: 60px;
    left: 50%;
    top: 50%;
    position: absolute;
    background-image: var(--url-diver2);
    transform: translateX(-50%); 
    animation-name: Diver2;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Diver2 {
    0% { left: 900px; top:100px;}
    50%{ left: 1100px; top:400px;}
    70% { left: 200px; top:50px;}
    100% { left: 800px; top:300px; transform:scaleX(-1);}
}
#diver3 {
    width: 120px;
    height: 60px;
    left: 50%;
    top: 50%;
    position: absolute;
    background-image: var(--url-diver3);
    transform: translateX(-50%); 
    animation-name: Diver3;
    animation-duration: 22s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes Diver3 {
    0% { left: 500px; top:300px;}
    50%{ left: 800px; top:100px;}
    70% { left: 300px; top:400px;}
    100% { left: 100px; top:200px; transform:scaleX(-1);}
}